<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379446053357-7jr9ucc44ms4fggk8rtg33ltha3aed49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379446053357-7jr9ucc44ms4fggk8rtg33ltha3aed49</string>
	<key>API_KEY</key>
	<string>AIzaSyBqKpC8qYbWSHEff0mJP0raeC4lfjMxPeA</string>
	<key>GCM_SENDER_ID</key>
	<string>379446053357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parinyimz.parinyimzfood</string>
	<key>PROJECT_ID</key>
	<string>parinyimzfood</string>
	<key>STORAGE_BUCKET</key>
	<string>parinyimzfood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379446053357:ios:0fd1c1396a911366b5bfe4</string>
	<key>DATABASE_URL</key>
	<string>https://parinyimzfood.firebaseio.com</string>
</dict>
</plist>